# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env
.env.local
**/.env.local

# Build output
dist/
build/
**/dist/
**/build/
**/backup/

# Prisma
**/.migration-progress.json

# Flutter
flutter/build/
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies

# OS / Editor
.DS_Store
*.log
.vscode/
.idea/


*.bak